doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author" content="cerebro_cerberus")
        meta(name="description", content="This is a faq accordion card solution")
        link(rel="stylesheet", href="./styles/css/main.css")
        script(src="./scripts/prefixfree/prefixfree.js")
        link(rel="shortcut icon", href="./assets/favicon-32x32.png", type="image/x-icon")
        script(src="./scripts/main/app.js", defer)
        title Frontend Mentor | FAQ Accordion Card
    body 
        main 
            .box-img 
                img(src="./assets/illustration-box-desktop.svg" alt="")
            .main-container
                div.o-faq-img 
                    img(src="./assets/illustration-woman-online-mobile.svg" alt="")
                    img(src="./assets/illustration-woman-online-desktop.svg" alt="")
                .o-faq
                    h1.o-faq__head.c-faq__head faq
                    .o-faq-acc.c-faq-acc 
                        details.o-modal.c-faq-acc-item.js-details
                            summary.o-modal__head.c-faq-acc-item__head How many team members can i invite?
                            p.o-modal__txt.c-faq-acc-item__txt You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.
                        details.o-modal.c-faq-acc-item(open).js-details
                            summary.o-modal__head.c-faq-acc-item__head What is the maximum file upload size?
                            p.o-modal__txt.c-faq-acc-item__txt No more than 2GB. All files in your account must fit your allotted storage space.
                        details.o-modal.c-faq-acc-item.js-details
                            summary.o-modal__head.c-faq-acc-item__head How do I reset my password?
                            p.o-modal__txt.c-faq-acc-item__txt Click “Forgot password” from the login page or “Change password” from your profile page.A reset link will be emailed to you.
                        details.o-modal.c-faq-acc-item.js-details 
                            summary.o-modal__head.c-faq-acc-item__head Can I cancel my subscription?
                            p.o-modal__txt.c-faq-acc-item__txt Yes! Send us a message and we’ll process your request no questions asked.
                        details.o-modal.c-faq-acc-item.js-details
                            summary.o-modal__head.c-faq-acc-item__head Do you provide additional support?
                            p.o-modal__txt.c-faq-acc-item__txt Chat and email support is available 24/7. Phone lines are open during normal business hours.
        footer challenge by <a href="https://www.frontendmentor.io/challenges/faq-accordion-card-XlyjD0Oam" target="_blank">frontendmentor</a>. coded by <a href="https://github.com/iamcerebrocerberus/" target="_blank">cerebro_cerberus</a>.     
                    
                    



